<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemMapper">

	<!-- 상품 상세 조회 -->
	<select id="detail-item" parameterType="String" resultType="Item">
		SELECT * FROM item 
		WHERE item_code = #{item_code}
	</select>

	<!-- 상품 목록 -->
	<select id="findAll" resultType="Item">
		SELECT * FROM item
	</select>

	<!-- 상품 수정 -->
	<update id="update" parameterType="Item">
		update `item` set 
			name = #{name}, 
			content = #{content}, 
			item_img_url = #{item_img_url}, 
			price = #{price}, 
			discount = #{discount}, 
			point = #{point} 
		where item_idx = #{item_idx}
	</update>

   <!-- 상품 생성  -->
	<insert id="create" parameterType="Item" useGeneratedKeys="true" keyProperty="item_idx">
		INSERT INTO item
		(
			item_code,
			user_idx,
			name,
			category,
			content,
			item_img_url,
			company,
			price,
			discount,
			point,
			created_date
		)
		VALUES
		(
			#{item_code},
			#{user_idx},
			#{name},
			#{category},
			#{content},
			#{item_img_url},
			#{company},
			#{price},
			#{discount},
			#{point},
			NOW()
		)
	</insert>




</mapper>

